---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { site } from '../site.config';
import { t } from '../i18n';
import { siteHref } from '../utils/paths';
import { getBlogPosts } from '../utils/posts';

const blogPosts = await getBlogPosts();
const indexPosts = blogPosts.slice(0, site.maxPostsOnIndex);
const i18n = t(site.language);
const canonicalUrl = new URL('/', Astro.site).href;
---

<BaseLayout title={i18n.pageHome} pageId="index" canonicalUrl={canonicalUrl} hiddenPageTitle>
  <div class="post-list">
    {indexPosts.length === 0 ? (
      <p class="empty-state">{i18n.noPosts}</p>
    ) : (
      indexPosts.map((post) => <PostCard post={post} />)
    )}
  </div>
  <!-- {blogPosts.length >= site.maxPostsOnIndex && (
    <div class="read-more-link-area">
      {/* <a href={siteHref('/archive/')} class="button button-secondary">{i18n.readAllArchive} →</a> */}
    </div>
  )} -->
</BaseLayout>
